*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.content{
  height:80vh;

}
.navbar{
  background-color: rgb(255, 123, 0) !important;
}
.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  margin-top: 30px;
}
/* transaction Page */
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}
/* transaction Page */
/* antd icons */
.antion svg{
  font-size: 30px;
  cursor: pointer;
}
.active-icon{
  color: black;
}
inactive-icon{
  color: gray;
}
.switch-icons{
  border:1px solid rgba(0,0,0,0.677);
  border-radius: 5px;
  padding: 10px 15px;
}
.filters{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin: 40px;
  border-radius: 21px;
  box-sizing: border-box;
  box-shadow: 2px 3px 5px 1px black;
}
.buttons{
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.forms{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 30px;
  margin: 20px;
  border-radius: 21px;
  box-sizing: border-box;
  box-shadow: 2px 3px 5px 1px black;
}
.login{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.expenses{
  position: absolute;
  display: flex;
  z-index: -1;
  display: flex;
  height: 100vh;
}
.girl{
  display: flex;
  position: absolute;
  display: flex;
  justify-content: right;
  height: 200px;
  z-index: 0;
  width: 180px;
  right: 0px;
  bottom:20px;
}


